$primary: #8348AD;
$secondary: #633782;

body {
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;

  @media(max-width: 700px){
    background-size: cover;

  }
}

.container {
  background-color: rgba(131,72,173,0.95);
  height: 100vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(min-width: 700px) {
    width: 40%;
    padding: 50px;
    min-width: 700px;
    max-width: 80%;
  }
}

.logo-container {
  .logo {
    max-width: 70%;
    margin: 250px auto auto auto;

    @media(min-width: 700px){
      margin-top: 0px;
    }
  }
}

.content-container {
  .title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;


    @media(min-width: 700px){
      font-size: 48px;
    }

    #highlight {
      color: #76C047;
      font-weight: 600;
      font-size: 46px;

      @media(min-width: 700px){
        font-size: 54px;
      }
    }
  }

  .list-container {
    display: flex;
    flex-direction: row;

    .list {
      margin: auto;
      justify-content: center;
      li {
        text-align: left;
        font-weight: 400;
        margin: 6px 0;
        font-size: 20px;

        @media(min-width: 700px){
          font-size: 24px;
        }
      }
    }

    @media(max-width: 455px){

    }
  }
}

.form-container {
  .form {
    display: flex;
    flex-flow: column;

    background-color: #FFF;
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px;

    max-width: 50%;

    .submit-btn {
      background: linear-gradient($primary, lighten($secondary, 5%));
      border-radius: 15px;
      border: 2px solid #6C3A91;
      box-shadow: 0px 3px 10px #00000080;
      color: #fff;
      font-size: 28px;
      font-weight: 600;
      text-decoration: none;
      padding: 25px 50px;
    }

    .security {
      color: $primary;
      margin: 20px 0 0 0;
    }

    @media(max-width: 455px){
      max-width: 70%;
    }
  }
}

.asterisk {
  margin-top: 40px;
}
